.background{
  height: 100%;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3.5%;
  background-color: rgba(230,230,230,0.7);
}

.form{
  background-image: url('/static/image/k9pvzt.jpg');
  margin: 0;
  padding: 0.3%;
  background-size: cover;  
  background-repeat: no-repeat; 
  height: 100%;
  width: 99.4%;
}

.formTable{
  width: 100%;
  height: 98%;
}

.tdTable1{
  width: 70%;
  height: 90vh;
  background-color: rgba(230,230,230,0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.tdTable2{
  width: 60%;
  height: 93vh;
  background-color: rgba(230,230,230,0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.tdTable3{
  width: 8%;
  height: 93vh;
  background-color: rgba(230,230,230,0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.tdTable0{
  width: 18%;
  height: 93vh;
  background-color: rgba(230,230,230,0.5);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  padding: 1%;
}
.boardTable1{
  height: 95vh;
  width: 98%;
  padding: 1%;
  border-radius: 5px; 
}

.profile{
  height: 94vh;
  width: 96%;
  background-color: #097747;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  padding-left: 3%;
}

.boardTable2{
  position: absolute;
   height: 86vh;
   width: 60%;
   background-color: #097747;
   top: 7%;
   left: 25%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
  border:6px solid black;
}

.boardTable3{
  height: 91vh;
  width: 98%;
  padding: 1%;
  padding-top: 5vh;
  border-radius: 5px; 
}

.trBoard1{
  height: 20vh;
  width: 100%;
}

.trBoard2{
  height: 6vh;
  width: 100%;

}
.trBoard12{
  height: 10vh;
  width: 100%;
  margin-bottom: 3vh;
}

.trBoard123{
  height: 7vh;
  width: 100%;
}

.trBoard3{
  height: 31vh;
  width: 100%;
  padding: 0;
}

.trBoard5{
  height: 30vh;
  width: 100%;
}

.profileTable{
  height: 20vh;
 background-color: #097747;
  width: 100%;
  border-radius: 5px; 
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.profileImg{
  height: 20vh;
  width: 40%;
  text-align: center;
}

.profileDesc{
  height: 20vh;
  width: 60%;
}

.profileImgSet{
  height: 24vh;
  width: 80%;
  background-color: white;
  margin-top: 5vh;
}

.profileDescNameSet{
  font-family: Verdana;
  font-size: 16px;
  font-variant: 600;
  color: white;
  text-align: center;
  margin-left: 10px;
  line-height: 1;
}

.profileDescIDSet{
  font-family: Verdana;
  font-size: 14px;
  color: white;
  text-align: left;
  line-height: 1.2;
  margin-left: 10px;
}

.profileDescDeptSet{
  font-family: Verdana;
  font-size: 14px;
   color: white;
  text-align: left;
  line-height: 1;
}

.categoryTable{
  height:  29vh;
  width: 100%;
}

.tdCategory{
  height: 29vh;
  width: 25%;
}

.categoryDiv{
  height: 29vh;
  width: 100%;
}

.categoryTitle{
  font-family: Impact;
  font-size: 25px;
  margin:0;
  letter-spacing: 3px;
  background-color: #097747;
  padding: 5px;
/*   border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  color: white;
  height: 5vh;
  line-height: 150%;
  border-radius: 5px; 
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}
.categoryTitle2{
  font-family: Impact;
  font-size: 30px;
  margin:0;
  letter-spacing: 3px;
  background-color: yellow;
  padding: 5px;
/*   border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  color: black;
  height: 9vh;
  line-height: 200%;
  border-radius: 5px; 
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
 border:2px solid black;
}

.categoryTitle3{
  font-family: Impact;
  font-size: 25px;
  margin:0;
  letter-spacing: 3px;
  background-color: yellow;
  padding: 5px;
/*   border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  color: black;
  height: 9vh;
  line-height: 200%;
  border-radius: 5px; 
  width: 70%;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.categoryTitleSet{
  font-family: tahoma;
  font-size: 17px;
  background-color: #097747;
  height: 4vh;
  text-align: center;
  padding-top: 10px;
  line-height: 150%;
  letter-spacing: 1px;
/*  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0;
  color: white;
  border-radius: 5px 5px 0px 0px; 
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.categoryNumberSet{
  height: 20vh;
  width: 99%;
  margin-top: 0;
  font-size: 70px;
  text-align: center;
  /*border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  border: 0;
  font-family: Courier;
  font-weight: 600;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.trList1{
  height: 7vh;
  width: 100%;
  margin-bottom: 1vh;
  background-color: #097747;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ListTitle{
  font-family: Impact;
  font-size: 25px;
  margin:0;
  letter-spacing: 3px;
  padding: 8px;
  color: white;
  line-height: 150%;
   border-radius: 5px 5px 5px 5px;
}

.requestDetailF{
  font-family: Impact;
  font-size: 25px;
  margin:0;
  letter-spacing: 3px;
  padding: 8px;
  color: black;
  line-height: 150%;
  background-color: yellow;
}

.trList2{
  height: 68vh;
  width: 98%;
  background-color: yellow;
  padding: 1%;
  border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   overflow:scroll;
   margin-bottom: 1vh;
}

.divAdd{
  margin:0;
  padding: 0;
}

.ticketID{
  width: 20.3%;
  height: 3vh;
  background-color: #097747;
  text-align: center;
  font-family: tahoma;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  color: white;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}
.ticketTitle{
  width: 59.9%;
  height: 3vh;
  background-color: #097747;
  text-align: center;
  font-family: tahoma;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  color: white;;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ticketLevel{
  width: 20.3%;
  height: 3vh;
  text-align: center;
  font-family: tahoma;
  background-color: #097747;
  border: 0;
  margin: 0;
  color: white;
   border-radius: 0px 0px 5px 5px;

}

.ticketItem{
  width: 57.5%;
  height: 3vh;
  padding-left: 3%;
  font-family: tahoma;
   margin-left: -0.6vh;
  border: 0;
  color: black;
  background-color: white;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ticketDesc{
  width: 74.7%;
  height: 10vh;
  padding-left: 3%;
  padding-right: 3%;
  font-family: tahoma;
  margin:0;
  text-align: start;
  background-color:white;
  resize: none;
  margin-bottom: 0;
  border: 0;
  color: black;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}


.ticketDescAdd{
  width: 74.4%;
  height: 10vh;
  padding-left: 3%;
  padding-right: 3%;
  font-family: tahoma;
  margin:0;
  text-align: start;
  background-color:white;
  resize: none;
  margin-bottom: 0;
  border: 0;
  color: black;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ticketTitleAdd{
  width: 60%;
  height: 3vh;
  background-color: #097747;
  margin-left: 0.5vh;
  text-align: center;
  font-family: tahoma;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  color: white;;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ticketLevelAdd{
  width: 20.5%;
  height: 3vh;
  text-align: center;
  font-family: tahoma;
  background-color: #097747;
  border: 0;
  margin: 0;
  color: white;
   border-radius: 0px 0px 5px 5px;
}

input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

.ticketAddText{
  width: 90%;
  height: 3vh;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
  /*border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  border: 0;
  font-family: tahoma;
  color: white;
  line-height: 200%;
  font-weight: 600;
  background-color:  #097747;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ticketAdd{
  width: 90%;
  height: 7vh;
  margin-top: 0;
  margin-bottom: 1vh;
  border:0;
}

.userAddText{
  width: 90%;
  height: 3vh;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
  /*border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  border: 0;
  font-family: tahoma;
  color: white;
  line-height: 200%;
  font-weight: 600;
  background-color:  #097747;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}


.userEditText{
  width: 90%;
  height: 3vh;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
  /*border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  border: 0;
  font-family: tahoma;
  color: white;
  line-height: 200%;
  font-weight: 600;
  background-color:  #097747;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}


.logOutText{
  width: 90%;
  height: 3vh;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
  /*border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: black;*/
  border: 0;
  font-family: tahoma;
  color: white;
  line-height: 200%;
  font-weight: 600;
  background-color:  #097747;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.funtionButton{
  width: 100%;
  height: 40vh;
}

.tdFuntion{
  height: 10vh;
  width: 90%;
  background-color: transparent;
}

.addTicketForm{
   position: absolute;
   height: 58vh;
   width: 18%;
   background-color: #097747;
   top: 8%;
   padding: 1%;
   left: 72%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
}
.addTicketForm2{
   position: absolute;
   height: 58vh;
   width: 18%;
   background-color: #097747;
   top: 17%;
   padding: 1%;
   left: 72%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
}
.formText{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 70%;
  margin-bottom: 10px;
  height: 5vh;
  background: white;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.formTextAuth{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 70%;
  height: 5vh;
  background: white;
  padding: 0 5px 0 10px;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 10px;
}

.formText2{
  font-family: arial;
  font-size: 14px;
  color: black;
  border-width: 0;
  width: 87%;
  height: 23vh;
  background: white;
  padding: 1vh 5px 0 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 1vh;
  resize: none;
}

.ticketSubmit{
    font-family: arial;
  font-size: 16px;
  color: #000;
  border-width: 0;
  width: 80%;
  height: 5vh;
  background: yellow;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 1vh;
}

.ticketCancel{
    font-family: arial;
  font-size: 16px;
  color: #000;
  border-width: 0;
  width: 80%;
  height: 5vh;
  background: red;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 1vh;
}

.addUserForm{
   position: absolute;
   height: 74vh;
   width: 60%;
   background-color: #097747;
   top: 12%;
   left: 25%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
  border:6px solid black;
}

.addUserForm2{
   position: absolute;
   height: 82vh;
   width: 60%;
   background-color: #097747;
   top: 12%;
   left: 25%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
  border:6px solid black;
}

.editUserForm{
   position: absolute;
   height: 75vh;
   width: 18%;
   background-color: #097747;
   top: 32%;
   padding: 1%;
   left: 72%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
}

.ticketSearch{
  font-family: arial;
  font-size: 16px;
  color: #000;
  border-width: 0;
  width: 80%;
  height: 5vh;
  background: yellow;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 3vh;
}

.logOutForm{
   position: absolute;
   height: 18vh;
   width: 18%;
   background-color: #097747;
   top: 24%;
   padding: 1%;
   left: 72%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
}

.ticketConversation{
  width: 96%;
  height: 23vh;
  background-color: white;
  margin-bottom: 1vh;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  border:0;
  margin-left: 1.8%;
  overflow:scroll;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


.ticketDetail{
  position: absolute;
   height: 86vh;
   width: 60%;
   background-color: #097747;
   top: 7%;
   left: 25%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  text-align: center;
  border:6px solid black;
}
.ticketDetail2{
   height: 75vh;
   width: 100%;
  overflow:scroll;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}


.formText3{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 30%;
  height: 5vh;
  background: white;
  color: black;
  text-align: center;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}

.formText4{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 30%;
  height: 5vh;
  color: black;
  text-align: center;
  background: white;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}

.formText5{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 95%;
  height: 5vh;
    color: black;
  background: white;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
  text-align: center;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}

.formText52{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 62%;
  height: 5vh;
    color: black;
  background: white;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
  text-align: center;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}


.formText53{
    font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 30%;
  height: 5vh;
    color: black;
  background: white;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
  text-align: center;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}


.formText6{
  font-family: arial;
  font-size: 14px;
  color: black;
  border-width: 0;
  width: 92%;
  height: 10vh;
    color: black;
  background: white;
  padding: 1vh 20px 0px 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 1vh;
  resize: none;
}

.formTexts7{
  font-family: arial;
  font-size: 14px;
  color: #000;
  border-width: 0;
  width: 46.3%;
    color: black;
  height: 5vh;
  background: white;
  text-align: center;
  text-transform: capitalize;
  padding: 0 5px 0 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 1vh;
}


.formText7{
    font-family: arial;
  font-size: 12px;
  color: #000;
  border-width: 0;
  width: 87%;
  height: 5vh;
  background: #add8e6;
  text-align: right;
  text-transform: capitalize;
    color: black;
  padding: 0 5px 0 10px;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}

.formText8{
    font-family: arial;
  font-size: 12px;
  color: #000;
  border-width: 0;
  width: 87%;
  height: 5vh;
  background: #ffff99;
  text-transform: capitalize;
    color: black;
  text-align: left;
  padding: 0 5px 0 10px;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
   margin-bottom: 1vh;
}

.ticketOpen{
    font-family: arial;
  font-size: 16px;
  color: #fff;
  border-width: 0;
  width: 80.6%;
  height: 5vh;
  margin-top: 0;
  background-color: #097747;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  margin-bottom: 1vh;
}

.ticketID2{
  width: 20%;
  height: 3vh;
  background-color: #097747;
  text-align: center;
  font-family: tahoma;
  border: 0;
  border-radius: 5px 5px 0px 0px;
  color: white;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
}

.ticketClose{
  position: absolute;
   height: 13vh;
   width: 23%;
   background-color: #097747;
   top: 37%;
   left: 40%;
   border-radius: 5px 5px 5px 5px;
  box-shadow: 7px 7px 3px rgba(0,0,0,0.3);
  display: none;
  padding: 1%;
  text-align: center;
  border:6px solid black;
}