<!DOCTYPE html>

<html>
	<head>
		<title>DND Support Tool Home</title>
		<link rel="shortcut icon" href="D:/My Documents/projecct/image/icon.png">
		<link rel="stylesheet" type="text/css" href="D:/My Documents/projecct/DND_Tool_Home_CSS.css">

	</head>

<!--------------------------------------------------------------------------------->


	<body class="body">

		<form action="http://localhost:5000/Home" method="POST">
			<div class = "headerBar" align="center">

				<table align="center" style="margin-right: 140px; height: 50px;">
						<td align="start" style="height:50px; width: 752px;" >
							 <div style="height:40px; width:50px;"  onclick="toHome()">
                        		 <img src="/static/image/oocl.png" class = "headerLogo" >
                        	</div>
						</td>
						 <td align="center" class = "tdTabs" >
                        		<a href="http://localhost:5000/triangulation" class = "headerAbout">TRIAGULATION</a>
                        </td>
                         <td align="center" class = "tdTabs" >
                        		<a href="#" class = "headerAbout">MASS REFRESH</a>
                        </td>
                         <td align="center" class = "tdTabs"  >
                        		<a href="#" class = "headerAbout">INVOICE REFRESH</a>
                        </td>
                         <td align="center"  class = "tdTabs" >
                        		<a href="#" class = "headerAbout">ADJUSTMENT</a>
                        </td>
                        <td align="center" class = "tdTabs" >
                        		<a href="#" class = "headerAbout">EXTRACTION</a>
                        </td>
                        <td align="center" class = "tdTabs" >
                        		<a href="#" class = "headerAbout">FDR900</a>
                        </td>
                        <td align="center" class = "tdTabs"  >
                        		<a href="#" class = "headerAbout">ABOUT</a>
                        </td>
                        <td align="center">
                        		<a href="#" class = "headerDocumentation">DOCUMENTATION</a>
                        </td>
                </table>
			</div>


				<div class = "divbannerImg2">
					<img class = "bannerImg" src = "D:/My Documents/projecct/image/header11.jpg">
					<img class = "bannerImg" src = "D:/My Documents/projecct/image/header 7.jpg">
					<img class = "bannerImg" src = "D:/My Documents/projecct/image/header2.JPG">
				</div>

				<div class="divBannerImg" >
				  <img src="D:/My Documents/projecct/image/Picture2.png" style="height: 170px; width: 530px">
				</div>

				<div class="divBannerText">
				  <h1 class="bannerText" align="center"><i>We take is personally</i></h1>
				</div>

				<div class = "divForm" align="center">
					<table align="center" class = "tableForm">
						<td>
							<div class = "divTriCard" align="center" onclick="myFunction()">
								<div class="divCardTri"></div>
								<h4 class="divCardTextTitle">TRIAGULATION</h4>
								<div class="TriaMiddle" align="center">
									<div class = "middleDescription" align="center">
										<div class="titleCard" style="color:white;">
											<h1 class="titleText"><b>TRIAGULATION<b></h1>
											<h1 class="decriptionText"> Description</h1>
											</div>
									</div>

  								</div>
							</div>

						</td>
						<td>
							<div class = "divMassCard" align="center">
								<div class="divCardMass"></div>
								<h4 class="divCardTextTitle">MASS REFRESH</h4>
								<div class="MassMiddle" align="center">
    								<div class = "middleDescription" align="center">
										<div class="titleCard" style="color:white;">
											<h1 class="titleText"><b>MASS REFRESH<b></h1>
											<h1 class="decriptionText"> Description</h1>
											</div>
									</div>
  								</div>
							</div>
						</td>
						<td>
							<div class = "divInvoCard" align="center">
								<div class="divCardInvo"></div>
								<h4 class="divCardTextTitle" >INVOICE REFRESH</h4>
								<div class="InvoMiddle">
    								<div class = "middleDescription" align="center">
										<div class="titleCard" style="color:white;">
											<h1 class="titleText"><b>INVOICE REFRESH<b></h1>
											<h1 class="decriptionText"> Description</h1>
											</div>
									</div>
  								</div>
							</div>
						</td>
						<td>
							<div class = "divAdjustCard" align="center">
								<div class="divCardAdjust"></div>
								<h4 class="divCardTextTitle">ADJUSTMENT</h4>
								<div class="AdjustMiddle">
    							<div class = "middleDescription" align="center">
										<div class="titleCard" style="color:white;">
											<h1 class="titleText"><b>ADJUSTMENT<b></h1>
											<h1 class="decriptionText"> Description</h1>
											</div>
									</div>
  								</div>
							</div>
						</td>
						<td >
							<div class = "divExtractCard" align="center">
								<div class="divCardExtract"></div>
								<h4 class="divCardTextTitle">EXTRACTION</h4>
								<div class="ExtractMiddle">
    							<div class = "middleDescription" align="center">
										<div class="titleCard" style="color:white;">
											<h1 class="titleText"><b>EXTRACTION<b></h1>
											<h1 class="decriptionText"> Description</h1>
											</div>
									</div>
  								</div>
							</div >
						</td>
						<td>
							<div class = "divFDR900Card" align="center">
								<div class="divCardFDR900"></div>
								<h4 class="divCardTextTitle">FDR900</h4>
								<div class="FDR900Middle">
    								<div class = "middleDescription" align="center">
										<div class="titleCard" style="color:white;">
											<h1 class="titleText"><b>FDR900<b></h1>
											<h1 class="decriptionText"> Description</h1>
											</div>
									</div>
  								</div>
							</div>
						</td>
					</table>
			</div>
		</form>
	</body>

	<script>
		function myFunction() {
		  location.replace("http://localhost:5000/triangulation")
		}
		function toHome() {
		  location.replace("http://localhost:5000/")
		}


		var myIndex = 0;
		carousel();

		function carousel() {
		  var i;
		  var x = document.getElementsByClassName("bannerImg");
		  for (i = 0; i < x.length; i++) {
		    x[i].style.display = "none";
		  }
		  myIndex++;
		  if (myIndex > x.length) {myIndex = 1}
		  x[myIndex-1].style.display = "block";
		  setTimeout(carousel, 3000); // Change image every 2 seconds
		}
	</script>

</html>
