<!DOCTYPE html>

<html>
	<head>
		<title>BLH Ticketing System</title>
		<link rel="shortcut icon" href="/static/image/logo.webp">
		<link rel="stylesheet" type="text/css" href="/static/Home_Page_CSS.css">
		<meta http-equiv="refresh" content="10	">
	</head>

<!--------------------------------------------------------------------------------->

	<form id="myForm" action="http://localhost:5000/BLH_REQUEST_SERVICE_SYSTEM/Home" method="POST">
		<body class="form">
			<table class = "formTable">
				<td class = "tdTable1">
					<div class = "boardTable1" align="center">
						<div class = "trBoard1" align="center">
							<table class = "profileTable">
								<td class = "profileImg" align="center">
									<image src = "/static/image/profile.jpg" class = "profileImgSet">
								</td>
								<td class = "profileDesc">
									<span>
										<p class="profileDescNameSet">{{full_name}}</p>
									</span>
									<span>
										<p class="profileDescIDSet">Employee ID: {{user_id}}</p>
									</span>
									<span>
										<p class="profileDescIDSet">Department: {{department}}</p>
									</span>
								</td>
							</table>
						</div>
						<div class = "trBoard2" align="center">
							<p class="categoryTitle">SERVICE CATEGORY</p>
						</div>
						<div class = "trBoard3" align="center">
							<table class = "categoryTable" align="center">
								<td class = "tdCategory" align="center">
									<p class="categoryTitleSet">REPAIR</p>
									<input type="input" name="" class="categoryNumberSet" value="0" disabled="true">
								</td>
								<td class = "tdCategory" align="center">
									<p class="categoryTitleSet">REQUEST</p>
									<input type="input" name="" class="categoryNumberSet" value="0"  disabled="true">
								</td>
								<td class = "tdCategory" align="center">
									<p class="categoryTitleSet">REPAIR</p>
									<input type="input" name="" class="categoryNumberSet" value="0" align="center"  disabled="true">
								</td>
							</table>

						</div>
						<div class = "trBoard2" align="center">
							<p class="categoryTitle">SERVICE OVERVIEW</p>
						</div>
						<div class = "trBoard5">
							<table class = "categoryTable" align="center">
								<td class = "tdCategory" align="center">
									<p class="categoryTitleSet">UNASSIGN</p>
									<input type="input" name="" class="categoryNumberSet" value="0" disabled="true">
								</td>
								<td class = "tdCategory" align="center">
									<p class="categoryTitleSet">PENDING</p>
									<input type="input" name="" class="categoryNumberSet" value="0" disabled="true">
								</td>
								<td class = "tdCategory" align="center">
									<p class="categoryTitleSet">CLOSED</p>
									<input type="input" name="" class="categoryNumberSet" value="0" align="center" disabled="true">
								</td>
							</table>
						</div>
					</div>
				</td>
				<td class = "tdTable2">
					<div class = "boardTable2" align="center">
						<div class = "trList1" align="center">
							<p class="ListTitle">SERVICE DETAILS</p>
						</div>
						<div class = "trList2" id = "trList2" align="center">
						</div>
					</div>
				</td>
				<td class = "tdTable3">
					<div class = "boardTable3" align="center">
						<table class = "funtionButton">
							<tr class = "tdFuntion">
								<img src="/static/image/Picture5.png" class = "ticketAdd" onclick="openTicketAdd()">
							</tr >
							<tr class = "tdFuntion">
								<img src="/static/image/Picture8.png" class = "ticketAdd" onclick="openUserAdd()">
							</tr>
							<tr class = "tdFuntion">
								<img src="/static/image/Picture6.png" class = "ticketAdd" onclick="openUserEdit()">
							</tr>
							<tr class = "tdFuntion">
								<img src="/static/image/Picture7.png" class = "ticketAdd" onclick="openLogout()">
							</tr>
						</table>
					</div>
				</td>

				<div class ="addTicketForm" id ="addTicketForm">
					<input type="text" name="title" class = "formText" align="center" placeholder="Service Title">
					<select name="category" id="category" class="formText" >
							<option value="" disabled="" selected="">Select Category:</option>
							<option value = "Repair">Repair</option>
							<option value = "Replace">Replace</option>
							<option value = "Request">Request</option>
					</select>
					<textarea  name="description" class = "formText2" align="center" placeholder="Service description here..." maxlength="300" cols="50"></textarea>
					<button type = "button" class ="ticketCancel" onclick="add_request()">REQUEST SERVICE</button>
					<button type = "button" class ="ticketCancel" value="CANCEL" onclick="closeForm()">CANCEL</button>
				</div>

				<div class ="addUserForm" id ="addUserForm">
					<input type="text" name="idnumber" class = "formText" align="center" placeholder="ID Number" required>
					<input type="text" name="fname" class = "formText" align="center" placeholder="First Name" required>
					<input type="text" name="lname" class = "formText" align="center" placeholder="Last Name" required>
					<input type="text" name="mname" class = "formText" align="center" placeholder="Middle Name" required>
					<select name="department" id="department" class="formText" required>
							<option value="" disabled="" selected="">select department:</option>
							<option value = "Admin">Admin</option>
							<option value = "Anesthesia">Anesthesia</option>
							<option value = "Cashier">Cashier</option>
							<option value = "CSR">CSR</option>
							<option value = "CT-Scan">CT-Scan</option>
							<option value = "Dental">Dental</option>
							<option value = "Dialysis">Dialysis</option>
							<option value = "Dietary">Dietary</option>
							<option value = "Disbursement">Disbursement</option>
							<option value = "Engineering">Engineering</option>
							<option value = "ENT">ENT</option>
							<option value = "ER">ER</option>
							<option value = "HMO">HMO</option>
							<option value = "ICU">ICU</option>
							<option value = "Internal Med/Family Med">Internal Med/Family Med</option>
							<option value = "IT">IT</option>
							<option value = "Laboratory">Laboratory</option>
							<option value = "Maintenance">Maintenance</option>
							<option value = "Medical Record">Medical Record</option>
							<option value = "NICU">NICU</option>
							<option value = "OB-Gyne">OB-Gyne</option>
							<option value = "OPD">OPD</option>
							<option value = "OR/DR">OR/DR</option>
							<option value = "Opthalmology">Opthalmology</option>
							<option value = "Pediatrics">Pediatrics</option>
							<option value = "Pharmacy">Pharmacy</option>
							<option value = "Purchasing">Purchasing</option>
							<option value = "Radiology">Radiology</option>
							<option value = "Rehab">Rehab</option>
							<option value = "Surgery">Surgery</option>
					</select>
					<input type="text" name="username" class = "formTextAuth" align="center" placeholder="Username">
					<input type="Password" name="password" id ="password" class = "formTextAuth" align="center" placeholder="Password" required>
					<input type="Password" name="conpassword" id ="conpassword" class = "formTextAuth" align="center" placeholder="Confirm Password" required>
					<button type = "button" class ="ticketSubmit" onclick="add_user()">ADD USER</button>
					<button type = "button" class ="ticketCancel" value="CANCEL" onclick="closeAddUser()">CANCEL</button>
				</div>
				<div class ="editUserForm" id ="editUserForm">
					<input type="text" name="edit_id" id="edit_id" class = "formText" align="center" placeholder="ID Number">
					<button type = "button" class ="ticketSubmit" onclick="search_user()">SEARCH USER</button>
					<input type="text" name="edit_fname" id="edit_fname"  class = "formText" align="center" placeholder="First Name">
					<input type="text" name="edit_lname" id="edit_lname"  class = "formText" align="center" placeholder="Last Name">
					<input type="text" name="edit_mname" id="edit_mname"  class = "formText" align="center" placeholder="Middle Name">
					<select name="edit_department" id="edit_department" class="formText" value = ''required>
							<option value="" disabled="" selected="">select department:</option>
							<option value = "Admin">Admin</option>
							<option value = "Anesthesia">Anesthesia</option>
							<option value = "Cashier">Cashier</option>
							<option value = "CSR">CSR</option>
							<option value = "CT-Scan">CT-Scan</option>
							<option value = "Dental">Dental</option>
							<option value = "Dialysis">Dialysis</option>
							<option value = "Dietary">Dietary</option>
							<option value = "Disbursement">Disbursement</option>
							<option value = "Engineering">Engineering</option>
							<option value = "ENT">ENT</option>
							<option value = "ER">ER</option>
							<option value = "HMO">HMO</option>
							<option value = "ICU">ICU</option>
							<option value = "Internal Med/Family Med">Internal Med/Family Med</option>
							<option value = "IT">IT</option>
							<option value = "Laboratory">Laboratory</option>
							<option value = "Maintenance">Maintenance</option>
							<option value = "Medical Record">Medical Record</option>
							<option value = "NICU">NICU</option>
							<option value = "OB-Gyne">OB-Gyne</option>
							<option value = "OPD">OPD</option>
							<option value = "OR/DR">OR/DR</option>
							<option value = "Opthalmology">Opthalmology</option>
							<option value = "Pediatrics">Pediatrics</option>
							<option value = "Pharmacy">Pharmacy</option>
							<option value = "Purchasing">Purchasing</option>
							<option value = "Radiology">Radiology</option>
							<option value = "Rehab">Rehab</option>
							<option value = "Surgery">Surgery</option>
					</select>
					<input type="text" name="edit_username" class = "formText" align="center" placeholder="Username">
					<input type="Password" name="edit_password" class = "formText" align="center" placeholder="Password">
					<input type="Password" name="edit_conpassword" class = "formText" align="center" placeholder="Confirm Password">
					<button type = "button" class ="ticketSubmit" onclick="edit_user()">EDIT</button>
					<button type = "button" class ="ticketCancel" id = "edit" value="2" onclick="closeEditUser()">CANCEL</button>
				</div>
				<div class ="logOutForm" id ="logOutForm">
					<button name="" class ="ticketSubmit" onclick="">LOGOUT</button>
					<button name="" class ="ticketCancel" value="CANCEL" onclick="closeLogout()">CANCEL</button>
				</div>
				<div class ="ticketDetail" id ="ticketDetail" align="center">
					<p class="requestDetailF">REQUEST DETAILS</p>
					<div class ="ticketDetail2" id ="ticketDetail2" align="center">
						<input type="text" id = "detail_requester" name="detail_requester" class = "formText52" align="center" placeholder="Request Person" disabled="true">
						<input type="text" id = "detail_department" name="detail_department" class = "formText53" align="center" placeholder="Internal Med/Family Med" disabled="true">
						<input type="text" id = "detail_id"  name="detail_id" class = "formText3" align="center" placeholder="Service Number" disabled="true">
						<input type="text" id = "detail_level"  name="detail_level" class = "formText3" align="center" placeholder="Service Level" disabled="true">
						<input type="text" id = "detail_category"  name="detail_category" class = "formText4" align="center" placeholder="Service Category" disabled="true" value="Request">
						<input type="text" id = "detail_title"  name="detail_title" class = "formText5" align="center" placeholder="Service Title" disabled="true">
						<textarea  id = "detail_description"  name="detail_description" class = "formText6" align="center" placeholder="Service description here..." maxlength="300" cols="50" disabled="true" ></textarea>
						<input type="text" id = "detail_time"  name="detail_time" class = "formTexts7" align="center" placeholder="Service Time" disabled="true">
						<input type="text" id = "detail_date" name="detail_date" class = "formTexts7" align="center" placeholder="Service Date" disabled="true">
						<input type="text" id = "detail_assign" name="detail_assign" class = "formText5" align="center" placeholder="Assigned Person" disabled="true">
						<input type="text" id = ""  name="" class = "formText5" align="center" value="Service Process Conversation" disabled="true">
						<div class = "ticketConversation" align="center" id="ticketConversation">
							<input type="text" name="" class = "formText7" maxlength="89" placeholder="">
						</div>
						<input type="text" name="" class = "formText" align="center" maxlength="89" placeholder="Reply Here...">
						<button name="" class ="ticketSubmit" onclick="convo_add()">REPLAY</button>
						<button type="button" name="" class ="ticketSubmit" onclick="()" style="background: #add8e6;">SERVICE DONE</button>
						<button type="button" class ="ticketCancel" value="CANCEL" onclick="closeTicketDetail()">CLOSE</button>
					</div>
				</div>
				<div class ="ticketClose" id ="ticketClose" align="center">
					<button name="" class ="ticketSubmit" onclick="">CLOSE REQUEST</button>
					<button name="" class ="ticketSubmit" onclick="closeCloseAlert()" style="background: #add8e6;">CANCEL</button>
				</div>
				<input type="text" name="process" id = "process" style="display: none;">
				<input type="text" name="selected_open" id = "selected_open" style="display: none;">
			</table>
		</body>
	</form>
</html>


<script type="text/javascript">
	var c = 2;
	Frequest_id = []
	Frequest_title= []
	Frequest_category= []
	Frequest_description= []
	Frequest_time= []
	Frequest_date= []
	Frequest_level= []

	counter = '{{column_count}}'
	function onload_add_feed()
	{
		for (i = 0; counter > i; i++)
		{
		var a = document.createElement("INPUT");
		var b = document.createElement("INPUT");
		var d = document.createElement("INPUT");
		var c = document.createElement("INPUT");
		var e = document.createElement("TEXTAREA");
		var f = document.createElement("BUTTON");

		a.setAttribute("type", "text");
		b.setAttribute("type", "text");
		c.setAttribute("type", "text");
		d.setAttribute("type", "text");
		f.setAttribute("type", "button");

		a.setAttribute("name", "service_id" + (i+1));
		b.setAttribute("name", "service_title" + (i+1));
		c.setAttribute("name", "service_status_DT" + (i+1));
		e.setAttribute("name", "service_description" + (i+1));
		d.setAttribute("name", "service_category" + (i+1));
		f.setAttribute("name", "service" + (i+1));

		a.setAttribute("id", "service_id" + (i+1));
		b.setAttribute("id", "service_title" + (i+1));
		c.setAttribute("id", "service_status_DT" + (i+1));
		e.setAttribute("id", "service_description" + (i+1));
		d.setAttribute("id", "service_category" + (i+1));
		f.setAttribute("id", i+1);

		a.setAttribute("value", Frequest_id[i]);
		b.setAttribute("value", Frequest_title[i]);
		c.setAttribute("value", Frequest_level[i] + " (" + Frequest_time [i] + " - " + Frequest_date[i] +")" );
		d.setAttribute("value", Frequest_category [i]);
		f.setAttribute("value", i+1);


		a.setAttribute("class", "ticketID2");
		b.setAttribute("class", "ticketTitleAdd");
		c.setAttribute("class", "ticketItem");
		e.setAttribute("class", "ticketDescAdd");
		d.setAttribute("class", "ticketLevelAdd");
		f.setAttribute("class", "ticketOpen");

		a.setAttribute("disabled", "true");
		b.setAttribute("disabled", "true");
		c.setAttribute("disabled", "true");
		e.setAttribute("disabled", "true");
		d.setAttribute("disabled", "true");

		f.setAttribute("onclick", "open_detail(this.id)")
		e.appendChild(document.createTextNode(Frequest_description[i]));
		f.appendChild(document.createTextNode("OPEN"));
		document.getElementById("trList2").appendChild(a);
		document.getElementById("trList2").appendChild(b);
		document.getElementById("trList2").appendChild(d);
		document.getElementById("trList2").appendChild(c);
		document.getElementById("trList2").appendChild(e);
		document.getElementById("trList2").appendChild(f);
		}
	}

	function convo_add()
	{
		var a = document.createElement("INPUT");

		a.setAttribute("type", "text");
		a.setAttribute("name", "convo_add" + i);
		a.setAttribute("id", "ticketID" + i);
		a.setAttribute("value", "");
		a.setAttribute("class", "formText7");
		a.setAttribute("maxlength", "40");
		a.setAttribute("disabled", "true");
		document.getElementById("ticketConversation").appendChild(a);
		c++;
	}

	function openTicketAdd() {
	  document.getElementById("addTicketForm").style.display = "block";
	  document.getElementById("addUserForm").style.display = "none";
	  document.getElementById("editUserForm").style.display = "none";
	  document.getElementById("logOutForm").style.display = "none";
	   document.getElementById("ticketDetail").style.display = "none";
	    event.preventDefault();
	}

	function closeTicketAdd() {
	  document.getElementById("addTicketForm").style.display = "none";
	   event.preventDefault();
	}
	function openUserAdd() {
	  document.getElementById("addUserForm").style.display = "block";
	  document.getElementById("addTicketForm").style.display = "none";
	  document.getElementById("editUserForm").style.display = "none";
	  document.getElementById("logOutForm").style.display = "none";
	   document.getElementById("ticketDetail").style.display = "none";
	    event.preventDefault();
	}

	function closeAddUser() {
	  document.getElementById("addUserForm").style.display = "none";
	}
	function openUserEdit() {
	  document.getElementById("editUserForm").style.display = "block";
	  document.getElementById("addTicketForm").style.display = "none";
	  document.getElementById("addUserForm").style.display = "none";
	  document.getElementById("logOutForm").style.display = "none";
	   document.getElementById("ticketDetail").style.display = "none";
	    event.preventDefault();
	}

	function closeEditUser() {
	  document.getElementById("editUserForm").style.display = "none";
	  alert(document.getElementById("edit").value)
	}
	function openLogout() {
	  document.getElementById("logOutForm").style.display = "block";
	  document.getElementById("addTicketForm").style.display = "none";
	  document.getElementById("addUserForm").style.display = "none";
	  document.getElementById("editUserForm").style.display = "none";
	   document.getElementById("ticketDetail").style.display = "none";
	    event.preventDefault();
	}

	function closeLogout() {
	  document.getElementById("logOutForm").style.display = "none";
	   event.preventDefault();
	}

	function openDetailTicket() {
	  document.getElementById("ticketDetail").style.display = "block";
	 document.getElementById("logOutForm").style.display = "none";
	   document.getElementById("addTicketForm").style.display = "none";
	  document.getElementById("addUserForm").style.display = "none";
	  document.getElementById("editUserForm").style.display = "none";
	   event.preventDefault();
	}

	function closeTicketDetail() {
	  document.getElementById("ticketDetail").style.display = "none";
	   event.preventDefault();
	}

	function add_request(){
		document.getElementById("process").value='add_ticket'
		document.getElementById("myForm").submit();
	}

	function add_user(){
		if (document.getElementById("password").value != document.getElementById("conpassword").value) {
			alert("Password and Confirm Password do not match");
		}
		else {
		document.getElementById("process").value='add_user';
		document.getElementById("myForm").submit();
		}

	}

	function search_user(){
		document.getElementById("process").value='search_user'
		document.getElementById("myForm").submit();
	}

	function edit_user(){
		document.getElementById("process").value='edit_user'
		document.getElementById("myForm").submit();
	}

	function open_detail(clicked_id){

		document.getElementById("selected_open").value = document.getElementById('service_id'+clicked_id).value
		document.getElementById("process").value='detail_open'
		document.getElementById("myForm").submit();
	}

	window.onload = onloadfunc();
		function onloadfunc()
		{ 	{% for col in Frequest_id %}
		          Frequest_id.push('{{col}}')
		    {% endfor %}
			{% for col in Frequest_title %}
		          Frequest_title.push('{{col}}')
		    {% endfor %}
		    {% for col in Frequest_category %}
		          Frequest_category.push('{{col}}')
		    {% endfor %}
		    {% for col in Frequest_description %}
		         Frequest_description.push('{{col}}')
		    {% endfor %}
		    {% for col in Frequest_time %}
		          Frequest_time.push('{{col}}')
		    {% endfor %}
		    {% for col in Frequest_date %}
		          Frequest_date.push('{{col}}')
		    {% endfor %}
		    {% for col in Frequest_level %}
		          Frequest_level.push('{{col}}')
		    {% endfor %}
			onload_add_feed()
		pyProcess = "{{pyProcess}}"

		if (pyProcess == 'login'){

		}
		else if (pyProcess == 'addTicket')
		{
			alert('Service was successfully added to request list please wait for assign personel')
		}
		else if (pyProcess == 'addUSer'){
			alert('Account was successfully created')
		}
		else if (pyProcess == 'search_fail'){
			alert('No Account Found')
		}
		else if (pyProcess == 'search_success')
		{	document.getElementById("editUserForm").style.display = "block";
			document.getElementById("edit_id").value='{{edit_id}}';
			document.getElementById("edit_fname").value='{{fname}}';
			document.getElementById("edit_lname").value='{{mname}}';
			document.getElementById("edit_mname").value='{{lname}}';
			document.getElementById("edit_department").value='{{edit_department}}';
		}
		else if (pyProcess == 'edit_success'){
			alert('Account was successfully updated')
		}
		else if (pyProcess == 'selected_open')
		{	document.getElementById("ticketDetail").style.display = "block";
			document.getElementById("detail_requester").value='Requested By:' + '{{detail_department_head_fname}}' + ' (' + '{{detail_department_head_id}}' +')';
			document.getElementById("detail_department").value='{{detail_department}}';
			document.getElementById("detail_id").value='{{detail_request_id}}';
			document.getElementById("detail_level").value='{{detail_request_level}}';
			document.getElementById("detail_category").value='{{detail_request_category}}';
			document.getElementById("detail_title").value='{{detail_request_title}}';
			document.getElementById("detail_time").value='{{detail_start_time}}';
			document.getElementById("detail_date").value='{{detail_start_date}}';
			document.getElementById("detail_description").appendChild(document.createTextNode('{{detail_request_description}}'));
			if ('{{detail_maintenance_fname}}' == 'None'){
				document.getElementById("detail_assign").value='Pending to assign';
				}
			else{
				document.getElementById("detail_assign").value='{{detail_maintenance_fname}}' + ' (' + '{{detail_maintenance_id}}' +')';
			}

		}

	}


</script>
